@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Inter", sans-serif;
}

html {
	background-image: url(./assets/BackgroundImage.png);
	background-repeat: no-repeat;
	background-size: cover;
}
